
body {
    font-family: roboto , sans-serif;
}
.navbar {
    background-color: rgb(163, 173, 163);
}
#cabeçalho .nav .nav-link.active {
    background-color: #fff;
    color: black;
}

#cabeçalho .nav .nav-link,
.navbar-brand {
    color: black;
}

.navbar-toggler{
    background-color: #fff;
}

.testa {
    width: 100%;
    height: 30rem;
    object-fit: cover;
}

.tatame {
    width: 100%;
    height: 22rem;
    object-fit: cover;
}

#sobre-o-dojo {
    background-color: rgb(199, 205, 199);
}

.nav-modalidades .nav-link.active{
    background-color: rgb(163, 173, 163);
    color: #fff
}
.nav-modalidades button {
    color: black
}

.social-a {
    list-style: none;
    display: flex;
}
.social-a a {
    color: black;
}
